{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stat.id }}</td>
            </tr>
            <tr>
                <th>Questioncount</th>
                <td>{{ stat.questionCount }}</td>
            </tr>
            <tr>
                <th>Responsecount</th>
                <td>{{ stat.responseCount }}</td>
            </tr>
            <tr>
                <th>Bestresponsecount</th>
                <td>{{ stat.bestresponseCount }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('stat_edit', { 'id': stat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
