{% extends "XTeamPlatformBundle::layout.html.twig" %}

{% block title %}
    Contact {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src={{ asset('img/bordeaux.jpeg') }}>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Bordeaux<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Elisa Etcheverry<i class="material-icons right">close</i></span>
            <p>elisa@wildcodeschool.fr</p>
            <p>+33 6 66 96 17 77</p>
        </div>
    </div>


    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src={{ asset('img/fontainebleau.jpeg') }}>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Fontainebleau<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Claire Job<i class="material-icons right">close</i></span>
            <p>claire@wildcodeschool.fr</p>
            <p>+33 6 58 46 83 32</p>
        </div>
    </div>

    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src={{ asset('img/loupe.jpeg') }}>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">La Loupe<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Maxime Cornuau<i class="material-icons right">close</i></span>
            <p>maxime@wildcodeschool.fr</p>
            <p>+33 6 19 34 42 37</p>
        </div>
    </div>

    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src={{ asset('img/Lyon.jpeg') }}>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Lyon<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Damien Armenté<i class="material-icons right">close</i></span>
            <p>damien@wildcodeschool.fr</p>
            <p>+33 6 44 69 89 00</p>
        </div>
    </div>

    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src={{ asset('img/orleans.jpeg') }}>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Orleans<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Julien Keita<i class="material-icons right">close</i></span>
            <p>julien.keita@wildcodeschool.fr</p>
            <p>+33 6 62 39 71 04</p>
        </div>
    </div>

    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src={{ asset('img/toulouse.jpeg') }}>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Toulouse<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Justine Lacousse<i class="material-icons right">close</i></span>
            <p>justine@wildcodeschool.fr</p>
            <p>+33 6 66 47 68 70</p>
        </div>
    </div>
{% endblock %}