{% extends "XTeamPlatformBundle::layout.html.twig" %}

{% block title %}
    docs {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/docs.css') }}">
{% endblock %}

{% block content %}
    <main>
        <h5>Documentation Officielle</h5>
        <div class="carousel">
            <a class="carousel-item" href="https://www.w3schools.com" target="_blank"><img class="img-carousel" src={{ asset('img/logo/W3C®.png') }}></a>
            <a class="carousel-item" href="https://developer.android.com/index.html" target="_blank"><img class="img-carousel" src={{ asset('img/logo/android.png') }}></a>
            <a class="carousel-item" href="https://developer.apple.com/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/osx.png') }}></a>
            <a class="carousel-item" href="https://www.linuxfoundation.org/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/linux.png') }}></a>
            <a class="carousel-item" href="https://developer.microsoft.com/fr-fr/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/windows.png') }}></a>
        </div>

    <h5>Technologies</h5>
    <div class="carousel">
        <a class="carousel-item" href="https://www.w3schools.com/html/html5_intro.asp"><img class="img-carousel" src={{ asset('img/logo/HTML5.png') }}></a>
        <a class="carousel-item" href="http://www.css3create.com/"><img class="img-carousel" src={{ asset('img/logo/css.png') }}></a>
        <a class="carousel-item" href="https://www.javascript.com/"><img class="img-carousel" src={{ asset('img/logo/JS.png') }}></a>
        <a class="carousel-item" href="https://secure.php.net/manual/fr/index.php"><img class="img-carousel" src={{ asset('img/logo/PHP.png') }}></a>
        <a class="carousel-item" href="https://jquery.com/"><img class="img-carousel" src={{ asset('img/logo/jquery.png') }}></a>
        <a class="carousel-item" href="https://www.ruby-lang.org/fr/"><img class="img-carousel" src={{ asset('img/logo/ruby.png') }}></a>
        <a class="carousel-item" href="https://symfony.com" target="_blank"><img class="img-carousel" src={{ asset('img/logo/symfony.png') }}></a>
        <a class="carousel-item" href="https://www.python.org/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/python.png') }}></a>
        <a class="carousel-item" href="https://angular.io/docs/ts/latest" target="_blank"><img class="img-carousel" src={{ asset('img/logo/angularjs.png') }}></a>
        <a class="carousel-item" href="https://nodejs.org/en/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/nodejs.png') }}></a>
        <a class="carousel-item" href="https://www.mysql.fr" target="_blank"><img class="img-carousel" src={{ asset('img/logo/MySQL.png') }}></a>
    </div>

    <h5>Cours en ligne</h5>
    <div class="carousel">
        <a class="carousel-item" href="https://openclassrooms.com/courses?isCoursesUrl=true" target="_blank"><img class="img-carousel" src={{ asset('img/logo/OpenClassrooms.png') }}></a>
        <a class="carousel-item" href="https://www.codeschool.com" target="_blank"><img class="img-carousel" src={{ asset('img/logo/codeschool.png') }}></a>
        <a class="carousel-item" href="https://www.codecademy.com/fr" target="_blank"><img class="img-carousel" src={{ asset('img/logo/codeacademy.png') }}></a>
        <a class="carousel-item" href="https://www.sololearn.com/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/sololearn.png') }}></a>
        <a class="carousel-item" href="https://generalassemb.ly/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/generalassembly.png') }}></a>
        <a class="carousel-item" href="https://odyssey.wildcodeschool.fr" target="_blank"><img class="img-carousel" src={{ asset('img/logo1.png') }}></a>
        <a class="carousel-item" href="https://www.grafikart.fr/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/grafikart.png') }}></a>
        <a class="carousel-item" href="https://www.alsacreations.com/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/alsacreations.png') }}></a>
    </div>

    <h5>Outils</h5>
    <div class="carousel">
        <a class="carousel-item" href="http://getbootstrap.com" target="_blank"><img class="img-carousel" src={{ asset('img/logo/boostrap.png') }}></a>
        <a class="carousel-item" href="https://www.jetbrains.com/phpstorm" target="_blank"><img class="img-carousel" src={{ asset('img/logo/phpstorm.png') }}></a>
        <a class="carousel-item" href="https://getcomposer.org" target="_blank"><img class="img-carousel" src={{ asset('img/logo/composer.png') }}></a>
        <a class="carousel-item" href="https://jsfiddle.net/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/jsfiddle.png') }}></a>
        <a class="carousel-item" href="http://materializecss.com/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/materialize.png') }}></a>
        <a class="carousel-item" href="https://www.getpostman.com/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/postman.png') }}></a>
        <a class="carousel-item" href="https://git-scm.com/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/git.png') }}></a>
        <a class="carousel-item" href="https://github.com" target="_blank"><img class="img-carousel" src={{ asset('img/logo/github.png') }}></a>
        <a class="carousel-item" href="http://www.markdowntutorial.com/" target="_blank"><img class="img-carousel" src={{ asset('img/logo/markdown.png') }}></a>
    </div>
    </main>
{% endblock %}

{% block scripts %}
    parent();
<script src={{ asset('JS/carousel.js') }}></script>
{% endblock %}