{% extends "XTeamPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block content %}
    <main id="accueil">
        <div class='container'>
            <div class='row' id='lvl1'>
            </div>
            <!---Begin search bar-->
            <div class='row lvl3'>
                <div class="col s10 m10 l10 offset-s1">
                    <div class='nav-wrapper search'>
                        <div class="row">
                            <div class="col s12">
                                <form method="get" action="{{ path('question_search') }}">
                                    <div class="input-field hoverable" id="search">
                                        <input id="search" type="search" name="q" required placeholder="C'est quoi votre question?">
                                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                        <i class="material-icons">close</i>
                                    </div>

                                    <div class="col s2">
                                        <a href="#!" class="btn" onclick="Materialize.showStaggeredList('#tagField')">Tags?</a>
                                    </div>

                                    <div class="input-field col s2 offset-s5" id="srchBtn">
                                        <input type="submit" id="searchBtn" class="btn waves-effect waves-light right">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul id="tagField">
                            <li><div class="row">
                                    <div class="col s12">
                                        <div class="input-field" id="chipBody">
                                            <div class="chips chips-autocomplete"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!---end search bar-->

            <div class='row lvl4'>
                <div id="noresp" class="col s12 m8 l8 offset-s2">
                    <a class="noresponse" href="{{ path('question_search', {'q':'noresponse'}) }}">
                        Si toi aussi tu veux apporter ta pierre à l'édifice,<br> il reste actuellement <span id="count">{{ countNoResponses }}</span> questions sans réponses !
                    </a>
                </div>
            </div>

            <!-- end page-content container -->
        </div>
    </main>
{% endblock %}