{% extends "XTeamPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block content %}
    <main id="accueil">
        <div class='container'>
            <div class='row' id='lvl1'>
            </div>
            <!---Begin search bar-->
            <div class='row lvl3'>
                <div class="col s10 m10 l10 offset-s1">
                    <div class='nav-wrapper search hoverable'>
                        <div class="row">
                            <div class="col s12">
                                <form method="get" action="{{ path('question_search') }}">
                                    <div class="input-field" id="search">
                                        <input id="search" type="search" name="q" required>
                                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                        <i class="material-icons">close</i>
                                    </div>

                                    <div class="input-field col s2 offset-s9">
                                        <input type="submit" id="searchBtn" class="btn waves-effect waves-light right">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="section scrollspy">
                                    <ul class="collapsible popout" data-collapsible="accordion">
                                        <li><div class="collapsible-header"><i class="material-icons">filter_drama</i>Ajoute des tags?</div>
                                            <div class="collapsible-body" id="chipBody">
                                                <div class="chips chips-autocomplete"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---end search bar-->

            <div class='row lvl4'>
                <div class="col s12 m8 l8 offset-s2">
                    <div id="noresp">
                        <a class="noresponse" href="{{ path('xteam_platform_noresponses') }}">Si toi aussi tu veux apporter ta pierre à l'édifice, il reste actuellement {{ countNoResponses }} questions sans réponses !</a>
                    </div>
                </div>
            </div>
            <!-- end page-content container -->
        </div>
    </main>
{% endblock %}