{% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

<div class="row section_row">
    <div class="section">
        <h5>Informations générales</h5>
        <div class="divider"></div>
        <div class="input-field col s12 m6">
            <i class="material-icons prefix">account_circle</i>
            {{ form_widget(form.username) }}
            {{ form_label(form.username) }}
            {{ form_errors(form.username) }}
        </div>

        <div class="input-field col s12 m6">
            <i class="material-icons prefix">email</i>
            {{ form_widget(form.email) }}
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="input-field col s12 m6">
            <i class="material-icons prefix">vpn_key</i>
            {{ form_widget(form.plainPassword.first) }}
            {{ form_label(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>

        <div class="input-field col s12 m6">
            <i class="material-icons prefix">verified_user</i>
            {{ form_widget(form.plainPassword.second) }}
            {{ form_label(form.plainPassword.second) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>

        <div class="input-field col s12 m6">
            <i class="material-icons prefix">supervisor_account</i>
            {{ form_widget(form.nom) }}
            {{ form_label(form.nom) }}
            {{ form_errors(form.nom) }}
        </div>

        <div class="input-field col s12 m6">
            <i class="material-icons prefix">perm_identity</i>
            {{ form_widget(form.prenom) }}
            {{ form_label(form.prenom) }}
            {{ form_errors(form.prenom) }}
        </div>

        <div class="input-field col s12 m6">
            <i class="material-icons prefix">store</i>
            {{ form_widget(form.promo) }}
            {{ form_label(form.promo) }}
            {{ form_errors(form.promo) }}
        </div>
    </div>
</div>

<div class="row section_row">
    <div id="statut" class="section">
        <h5>Statut</h5>
        <div class="divider"></div>
        <div class="col s12 center-align">
            {{ form_widget(form.statut) }}
            {{ form_errors(form.statut) }}
        </div>

        <div class="input-field col s12 m6 work_info">
            <i class="material-icons prefix">work</i>
            {{ form_widget(form.profession) }}
            {{ form_label(form.profession) }}
            {{ form_errors(form.profession) }}
        </div>

        <div class="input-field col s12 m6 work_info">
            <i class="material-icons prefix">group_work</i>
            {{ form_widget(form.business) }}
            {{ form_label(form.business) }}
            {{ form_errors(form.business) }}
        </div>
    </div>
</div>

<div class="row section_row">
    <div class="section">
        <h5>Avatar</h5>
        <div class="divider"></div>
        <div class="input-field col s12 m6">
            {{ form_widget(form.avatar) }}
            {{ form_errors(form.avatar) }}
        </div>
    </div>
</div>

{{ form_rest(form) }}
<div class="input-field col s12 center-align">
    <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn waves-effect waves-light"/>
</div>
{{ form_end(form) }}
