{% extends 'base.html.twig' %}

{% block body %}
    <h1>Techno</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ techno.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ techno.nom }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ techno.icon }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('techno_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('techno_edit', { 'id': techno.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
