{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Profession</th>
                <th>Business</th>
                <th>Statut</th>
                <th>Promo</th>
                <th>Gitaccount</th>
                <th>Linkedinaccount</th>
                <th>Twitteraccount</th>
                <th>Fbaccount</th>
                <th>Avatar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}">{{ utilisateur.id }}</a></td>
                <td>{{ utilisateur.username }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.profession }}</td>
                <td>{{ utilisateur.business }}</td>
                <td>{{ utilisateur.statut }}</td>
                <td>{{ utilisateur.promo }}</td>
                <td>{{ utilisateur.gitaccount }}</td>
                <td>{{ utilisateur.linkedinaccount }}</td>
                <td>{{ utilisateur.twitteraccount }}</td>
                <td>{{ utilisateur.fbaccount }}</td>
                <td>{{ utilisateur.avatar }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateur_new') }}">Create a new utilisateur</a>
        </li>
    </ul>
{% endblock %}
