{% extends 'base.html.twig' %}

{% block body %}
    <h1>Questions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Question</th>
                <th>Isresolved</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><a href="{{ path('question_show', { 'id': question.id }) }}">{{ question.id }}</a></td>
                <td>{% if question.date %}{{ question.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ question.question }}</td>
                <td>{% if question.isResolved %}Yes{% else %}No{% endif %}</td>
                <td>{{ question.titre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('question_show', { 'id': question.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('question_edit', { 'id': question.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('question_new') }}">Create a new question</a>
        </li>
    </ul>
{% endblock %}
