{% extends 'XTeamPlatformBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <h3>Posez une nouvelle question à la communauté</h3>

        {{ form_start(form) }}

        <div class="row section_row">
            <div class="section">
                <h5>Informations générales</h5>
                <div class="divider"></div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">question_answer</i>
                    {{ form_widget(form.titre) }}
                    {{ form_label(form.titre) }}
                    {{ form_errors(form.titre) }}
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">question_answer</i>
                    {{ form_widget(form.question) }}
                    {{ form_label(form.question) }}
                    {{ form_errors(form.question) }}
                </div>
            </div>
            <div class="section">
                <h5>Ajoutez des tags à votre question</h5>
                <div class="divider"></div>

                <div class="col s12 tags_list">
                    {{ form_widget(form.tags) }}
                </div>
            </div>
        </div>

        <div class="input-field col s12 center-align">
            <input type="submit" value="Poser la question" class="btn waves-effect waves-light"/>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
