{% extends "XTeamPlatformBundle::layout.html.twig" %}

{% block title %}
    Recherche {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/questions_list.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        {% for question in questions %}
            <div class="question_block">
                <a href="{{ path('question_show', { 'id': question.id }) }}">
                    <div class="row">
                        <div class="col s2">
                            {% if question.isResolved %}
                                <i class="small material-icons">verified_user</i>
                            {% endif %}
                        </div>
                        <div class="col s10">
                            {{ question.question }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2">
                            {{ question.responses|length }} réponses
                        </div>
                        <div class="col s10">
                            {% for tag in question.tags %}
                                <em>{{ tag.tagname }}{% if not loop.last %} / {% endif %}</em>
                            {% endfor %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        <ul>
            <li>
                <a href="{{ path('question_new') }}">Poser une nouvelle question</a>
            </li>
        </ul>
    </div>
{% endblock %}
