{% extends "XTeamPlatformBundle::layout.html.twig" %}

{% block title %}
    Question {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/questionresponse.css') }}">
{% endblock %}

{% block content %}
        <!-- begin page-content container -->
        <div class='container'>
            <div class='row'>
                <!-- begin left content column -->
                <div class="col s10 m7 l8 left usrCol">
                    <div class="currentQuestion"><h4><span>{{ question.titre }}</span></h4>
                    </div>
                    <!--begin question input row -->
                    <!--begin user avatar column -->
                    <div id="question" class="section qr">
                        <div class="row">
                            <div class="col s2 m3">
                                <img src="{{ asset('img/fosuser.jpg') }}" id="avatar" alt="User Avatar"
                                     class="circle image-responsive">
                            </div>
                            <!--end user avatar column -->
                            <!--begin question column -->
                            <div class="col s10 m9 question">
                                <div class="col s9">
                                    <p>{{ question.user }}</p>
                                </div>
                                <div class="col s3">
                                    <small>Postée
                                        le {% if question.date %}{{ question.date|date('d-m-Y à H:i') }}{% endif %}</small>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <p>{{ question.question }}</p>
                                        <div class="fabbtn-wrapper" id="asker">
                                            <a class="btn-floating btn-large teal tooltipped" href="#responseForm"
                                               data-position="right" data-delay="50"
                                               data-tooltip="Give an answer to this question">
                                                <i class="large material-icons">reply</i>
                                            </a>
                                            <div class="fixed-action-btn horizontal click-to-toggle" id="fabBtn">
                                                <a class="btn-floating btn-large teal">
                                                    <i class="large material-icons">menu</i>
                                                </a>
                                                <ul>
                                                    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
                                                    </li>
                                                    <li><a class="btn-floating yellow darken-1"><i
                                                                    class="material-icons">format_quote</i></a></li>
                                                    <li><a class="btn-floating green"><i
                                                                    class="material-icons">publish</i></a></li>
                                                    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="collapsible popout" data-collapsible="accordion" id="commentaire">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">format_quote</i>2 Commentaires
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <form class="col s12">
                                            <div class="row">
                                                <div class="card horizontal">
                                                    <p>User1</p>
                                                    <div class="card-stacked">
                                                        <div class="card-content">
                                                            <p>Contentcontentcontentcontentcontent</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="card horizontal">
                                                    <p>User2</p>
                                                    <div class="card-stacked">
                                                        <div class="card-content">
                                                            <p>Contentcontentcontentcontentcontent</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                                    <label for="textarea1">Textarea</label>
                                                </div>
                                            </div>
                                            <button class="btn" type="submit" name="commentSubmit">Comment
                                                <i class="material-icons right">send</i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--begin user avatar column -->
                    {% for response in question.responses %}
                        <div id="response" class="section qr">
                            <div class="row">
                                <div class="col s2 m3">
                                    <img src="{{ asset('img/fosresponder.jpg') }}" id="avatar" alt="User Avatar"
                                         class="image-responsive">
                                </div>
                                <!--end user avatar column -->
                                <!--begin question column -->
                                <div class="col s10 m9 question">
                                    <div class="col s9">
                                        <p>{{ response.user }}</p>
                                    </div>
                                    <div class="col s3">
                                        <small>Postée
                                            le {% if response.date %}{{ response.date|date('d-m-Y à H:i') }}{% endif %}</small>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <p>{{ response.content }}</p>
                                            <div class="fabbtn-wrapper" id="responder">
                                                <div class="fixed-action-btn horizontal click-to-toggle" id="fabBtn">
                                                    <a class="btn-floating btn-large teal">
                                                        <i class="large material-icons">format_quote</i>
                                                    </a>
                                                    <ul>
                                                        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
                                                        </li>
                                                        <li><a class="btn-floating green"><i class="material-icons">publish</i></a>
                                                        </li>
                                                        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="collapsible popout" data-collapsible="accordion" id="commentaire">
                                <li>
                                    <div class="collapsible-header"><i
                                                class="material-icons">format_quote</i>{{ response.comments|length }}
                                        Commentaires
                                    </div>
                                    <div class="collapsible-body">
                                        <div class="row">
                                            <div class="col s12">
                                                {% for comment in response.comments %}
                                                    <div class="row">
                                                        <div class="card horizontal">
                                                            <p>{{ comment.user }}</p>
                                                            <div class="card-stacked">
                                                                <div class="card-content">
                                                                    <p>{{ comment.content }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                <div class="row">
                                                    {#{% form_theme comment_form '::fields.html.twig' %}#}
                                                    {{ form_start(comment_form) }}
                                                    {{ form_widget(comment_form) }}
                                                    <input type="submit" value="Commenter" class="btn waves-effect waves-light"/>
                                                    {{ form_end(comment_form) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    {% endfor %}


                    <div class="divider dividerMargin" id="formSpacer"></div>
                    <h4>Apportez votre réponse</h4>
                    <div id="responseForm" class="section scrollspy">
                        <div class="row">
                            {% form_theme addResponse_form '::fields.html.twig' %}
                            {{ form_start(addResponse_form) }}
                            {{ form_widget(addResponse_form) }}
                            <input type="submit" value="Poster" class="btn waves-effect waves-light"/>
                            {{ form_end(addResponse_form) }}
                        </div>
                    </div>
                    <div class="divider dividerMargin"></div>
                </div>

                <!--end left content column-->
                <!--begin user info column-->
                <div class="col s2 m4 l3 rightCol">
                    <div class="card blue-grey darken-1 infoCol">
                        <div class="card-content white-text">
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                            <span class="card-title">{{ app.user }}</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <!--end user info column-->

                <!-- end page-content container -->
            </div>
        </div>
{% endblock %}


{% block scripts %}
    {{ parent() }}
<script src="{{ asset('JS/questionresponse.js') }}"></script>
{% endblock %}