{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ user.profession }}</td>
            </tr>
            <tr>
                <th>Business</th>
                <td>{{ user.business }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ user.statut }}</td>
            </tr>
            <tr>
                <th>Promo</th>
                <td>{{ user.promo }}</td>
            </tr>
            <tr>
                <th>Git</th>
                <td>{{ user.git }}</td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>{{ user.twitter }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ user.facebook }}</td>
            </tr>
            <tr>
                <th>Linkedin</th>
                <td>{{ user.linkedin }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ user.avatar }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
