{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form _self %}

{% block _fos_user_registration_form_username_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}


    </div>
{% endblock %}
{{ form_row(form.username) }}

{% block _fos_user_registration_form_email_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">email</i>

    </div>
{% endblock %}
{{ form_row(form.email) }}

{% block _fos_user_registration_form_plainPassword_first_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">vpn_key</i>
    </div>
{% endblock %}
        {{ form_row(form.plainPassword_first) }}


{% block _fos_user_registration_form_plainPassword_second_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">verified_user</i>
    </div>
{% endblock %}
        {{ form_row(form.plainPassword_second) }}


{% block _fos_user_registration_form_nom_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">supervisor_account</i>
    </div>
{% endblock %}
        {{ form_row(form.nom) }}


{% block _fos_user_registration_form_prenom_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">perm_identity</i>
    </div>
{% endblock %}
        {{ form_row(form.prenom) }}


{% block _fos_user_registration_form_avatar_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">perm_identity</i>
    </div>
{% endblock %}
        {{ form_row(form.avatar) }}


{% block _fos_user_registration_form_profession_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">perm_identity</i>
    </div>
{% endblock %}
        {{ form_row(profession) }}


{% block _fos_user_registration_form_business_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">perm_identity</i>
    </div>
{% endblock %}
        {{ form_row(business) }}


{% block _fos_user_registration_form_statut_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">perm_identity</i>
    </div>
{% endblock %}
        {{ form_row(statut) }}


{% block _fos_user_registration_form_promo_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">perm_identity</i>
    </div>
{% endblock %}
        {{ form_row(promo) }}


{% block _fos_user_registration_form_git_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">perm_identity</i>
    </div>
{% endblock %}
        {{ form_row(git) }}


{% block _fos_user_registration_form_twitter_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">perm_identity</i>
    </div>
{% endblock %}
        {{ form_row(twitter) }}


{% block _fos_user_registration_form_facebook_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">perm_identity</i>
    </div>
{% endblock %}
        {{ form_row(facebook) }}


{% block _fos_user_registration_form_linkedin_row %}
    <div class="input-field col s6">
        {{ form_errors(form) }}
        <i class="material-icons prefix">perm_identity</i>
    </div>
{% endblock %}
        {{ form_row(linkedin) }}

